


/*grid container for items*/

.container{
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    justify-content:center;
    margin:50px 100px;
    grid-column-gap:20px;
    grid-row-gap:40px;
}

/*height for all item images*/

img{
    height:300px;
}

/*header*/

#storeName{
    font-size:50px;
}
.navbar{
    background-color:#ffb6c1 !important;
}
.nav-item:hover, .dropdown-item:hover, .btn:hover{
    background-color:#ffd3d9;
    border-radius:5px;
}
.nav-item, .btn{
    font-family: 'Open Sans', sans-serif;
}

/*content titles*/

h1{
    margin-top:50px;
    display:block;
    position:relative;
    width:100%;
    text-align:center;
}

/*item details display*/



